/* body{
     background-color: linear-gradient(to right, #0d0d0d, #1a1a1a); 
} */
/* navbar */
.nav-link {
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  color: #00fff2dc !important;
  transform: scale(1.1); 
}

  

  